/* Imported Font */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* End Imported Font */


/* General Styles */
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
        border: none;
        outline: none;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
    }

    .center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .more-btn{
        width: 25%;
        margin: 0 auto;
        margin-bottom: 6rem;
        border-radius: 10px;
        padding: 1rem;
        background: #010101;
    }

    .more-btn a{
        font-weight: 600;
        color: #fff;
        width: 100%;
    }
/* End General Style */

/* Navbar Styles */
    nav{
        width: 90%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 6%;
        z-index: 10000;
    }

    nav .logo{
        width: 135px;
        padding: 10px 0;
    }

    nav ul{
        width: 80%;
        padding: 0 20px;
    }

    nav ul li{
        width: 45%;
        display: inline-block;
        margin: 0 2px;
        text-align: center;
        padding: 20px 0;

    }

    nav ul li a{
        color: #000;
        font-size: 15px;
        font-weight: 500;
        padding: 1.3rem 6rem;
        text-decoration: none;
    }

    nav ul li.active{
        border-bottom: 0.15em solid #000;
    }
/* End Navbar Styles */

/* Hero Section / Head Section */

    .head-section{
        width: 100%;
        overflow: hidden;
        background: #00C1AE;
    }

    .head-section .head-container{
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .head-container .head-left{
        margin-top: 3rem;
        margin-right: -0.5rem;
        z-index: 1;
    }

    .head-container .head-right{
        margin-top: -3rem;
        padding: 0;
    }

    .head-img-1{
        width: 25rem;
        height: 15rem;
        box-shadow: 0.2rem 0.2rem 1rem #000;
        border-radius: 13px;
        margin-bottom: 10px;
    }

    .head-img-2{
        width: 30.8rem;
        box-shadow: 0.2rem 0.2rem 1rem #000;
        border-radius: 13px;
        z-index: 1;
    }

    .head-left .head-txt{
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 0.1px;
        margin-bottom: 10px;
    }

    .head-left .head-p{
        font-size: 12px;
        margin-bottom: 10px;
    }

    .head-left .head-btn{
        padding: 1.2rem 4rem;
        margin: 10px 0;
        background: #000;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        border-radius: 10px;
    }
/* End Hero Section / Head Section */

/* Why us section */

    .whyus-section{
        width: 100%;
        padding: 5%;
        max-height: 55vh;
        background: #fff;
    }

    .whyus-contianer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .whyus-header{
        text-align: center;
        font-size: 28px;
        font-weight: 600;
    }

    /* Notes Style Section */
        .whyus-notes{
            width: 87%;
            padding: 3%;
            margin: auto;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .notes{
            width: 18rem;
            height: 18rem;
            margin: 0 10px;
            padding: 10px;
        }

        .notes .note-emoji{
            width: 25%;
            text-align: center;
            border-radius: 50%;
            font-size: 20px;
            padding: 10px;
            background: #e7f7f5;
        }

        .notes .note-head{
            font-size: 19px;
            font-weight: 600;
            margin: 10px 0;
        }

        .notes .note-p{
            font-size: 14px;
            font-weight: 400;
        }
    /* End Notes Style Section */
    
    /* Car Selection */

        .select-city{
            width: 70%;
            margin: auto;
            padding: 1rem;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            transition: all 0.8s;
        }

        .select-city .city-btn{
            padding: 10px;
        }


        .select-city .city-btn{
            font-size: 14px;
            color: #000;
            padding: 10px 20px;
            outline: 0.1rem solid #010101;
            border-radius: 10px;
            transition: 0.5s all;
        }

        .select-city .city-btn:hover{
            background: none;
            color: #000;
            outline: 0.1rem solid #000;
            cursor: pointer;
        }

        .select-city .active{
            background: #010101;
            color: #fff;
            outline: none;
        }

        .select-city .city-btn.active:hover{
            background: none;
            outline: 0.1rem solid #000;
        }
    /* End Car Selection */

    /* Car Logo Section */
        .logo-grid{
            width: 60%;
            margin: 20px auto;
            display: grid;
            grid-template-columns: repeat(4,  minmax(70px, 1fr));
            grid-template-rows:  65px 150px 150px;
            grid-template-areas: 
            "   text1   text2   text3   text4"
            "   toy   lex   hond   benz"
            "   niss   ford   lrov   acura"
            ;
            justify-items: center;
            align-items: center;
            gap: 0.5rem;

        }

        .logo-grid .lg{
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .logo-grid .lAmount{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            background: #EBF2F7;
            border-radius: 20px;
            margin: auto auto;
        }

        .logo-grid .lAmount, .logo-grid .lg a{
            font-size: 15px;
            font-weight: 400;
            color: #000;
        }
    /* End Car Logo Section */

    /* Car Grid */
    .car-grid{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 5rem;
        background: #EBF2F7;
        border-radius: 5rem 5rem 0 0;
    }

    .car-grid .input{
        width: 60%;
        margin: .5rem auto;
        padding: 15px 4rem 15px 15px;
        border-radius: 10px;
        border: .2rem solid lightblue;
    }

    .car-grid .container{
        width: 95%;
        margin: 2rem auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        align-items: center;
        justify-content: center;
    }

    .car-grid .car-card{
        width: 100%;
        height: 20rem;
        border-radius: 7px;
        overflow: hidden;
        background: #fff;
        border: 0.1rem solid lightblue;

    }

    .car-grid .car-card .car-img{
        width: 100%;
        height: 50%;
        object-fit: cover;
        transition: scale 0.5s;
    }

    .car-grid .car-card:hover .car-img{
        scale: 1.1;
    }

    .car-grid .car-card p{
        padding: 5px;
        color: #333;
    }

    .car-grid .car-card .car-price{
        font-size: 15px;
        color: #00C1AE;
        text-shadow: -.5px -.5px #00C1AE;
        font-weight: 700;
    }

    .car-grid .car-card .car-loc{
        font-size: 10px;
    }

    .car-grid .car-card .how-used{
        display: flex;
        text-align: center;
    }

    .car-grid .car-card .how-used p{
        background: #EBF2F7;
        margin: 0 5px;
    }

    
    /* End Car Grid */
/* End Why us section */

/* How it Works section */
    .howit-works{
        width: 100%;
        height: 65vh;
        align-items: center;
        justify-content: center;
        background: #00C1AE;
        position: relative;
    }

    /* Dealer Card Style */
        .howit-works .dealer-card{
            position: absolute;
            top: -9rem;
            width: 60%;
            height: 40%;
            flex-direction: row;
            justify-content: space-around;
            background: #ffffff;
            padding: 10px 1rem;
            border-radius: 30px;
        }

        .howit-works .dealer-card .dealer-txt{
            width: 45%;
            height: 100%;
            justify-content: center;
            text-align: center;
        }

        .howit-works .dealer-card .dealer-txt h5{
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        .howit-works .dealer-card .dealer-txt p{
            font-size: 16px;
            text-align: justify;
            margin-bottom: 10px;
        }

        .howit-works .dealer-card .dealer-txt a{
            width: 100%;
            padding: 1rem;
            color: #000;
            border: .1rem solid #333;
            border-radius: 10px;
            margin: .5rem 0;
        }

        .howit-works .dealer-card .dealer-img{
            width: 50%;
            height: 12rem;
            object-fit: cover;
        }
    /* End Dealer Card Style */

    /* How it Card */
        .howit-works .howit-main{
            position: relative;
            top: 6rem;
            align-items: center;
            margin: 2rem 0;
        }
        .howit-works .howit-main h2{
            text-align: center;
        }

        .howit-works .howit-card{
            width: 95%;
            height: 100%;
            flex-direction: row; 
            justify-content: space-between;
            align-items: center;
        }

        .howit-works .howit-card .card{
            width: 25rem;
            height: 20rem;
            justify-content: space-between;
            margin: 2rem;
        }

        .howit-works .howit-card .card:nth-child(2){
            flex-direction: column-reverse;
        }

        .howit-card .card .c-txt{
            width: 87%;
            height: 36%;
            padding: 20px;
            background: #CCF3EF;
            opacity: 0.765;
            border-radius: 10px;
            box-shadow: 0.3rem 0.3rem 2rem #000;
        }

        .howit-card .card .c-txt h6{
            font-size: 15px;
        }

        .howit-card .card .c-txt p{
            font-size: 14px;
        }

        .howit-card .card img{
            width: 100%;
            height: 60%;
            object-fit: cover;
            border-radius: 10px;
        }
    /* End How it Card */
/* End How it Works section */

/* About Us Section */
    .aboutus{
        width: 100%;
        min-height: 80vh;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background: #fff;
    }

    /* About us Heads */
        .aboutus-heads{
            width: 80%;
            height: 15rem;
            justify-content: space-around;
            margin: 3rem 0;
        }

        .aboutus-heads h2{
            font-size: 28px;
            letter-spacing: 2px;
            font-weight: 600;
        }

        .aboutus-heads .flow-head{
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            text-align: center;
        }
        .aboutus-heads .flow-head .small-p{
            width: 12rem;
            height: 7rem;
        }

        .aboutus-heads .flow-head .small-p p:first-child{
            font-size: 30px;
            font-weight: 600;
            color: #00C1AE;
        }

        .aboutus-heads .flow-head .small-p p:last-child{
            font-size: 13px;
        }
    /* End About us Heads */

    /* What Clients say Card */
        .whatclient-say{
            width: 90%;
            flex-direction: row;
            justify-content: space-around;
            margin: 2rem 0;
        }

        .whatclient-say .client-card{
            width: 10rem;
            height: 30rem;
            padding: 1rem;
            font-size: 12px;
            letter-spacing: 2px;
            border-radius: 10px;
            background: #fff;
            box-shadow: 0.1rem 0.1rem 0.3rem #333;
        }
        .whatclient-say .client-card .profile{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .whatclient-say .client-card .profile .prof-txt{
            width: 50%;
        }
        .whatclient-say .client-card .profile .prof-txt p:first-child{
            font-size: 18px;
            font-weight: 600;
        }

        .whatclient-say .client-card .profile .prof-txt p:last-child{
            font-size: 10px;
            font-weight: 400;
            margin-left: 0.8rem;
            color: #333;
        }

        .whatclient-say .client-card .profile img{
            width: 5rem;
            margin-right: 10px;
        }

        .whatclient-say .client-card .client-txt p{
            font-size: 13.5px;
            letter-spacing: 1px;
            line-height: 1.5;
            text-wrap: wrap;
        }

        .whatclient-say .client-card .date{
            color: #333;
            margin-top: 10px;
        }
    /* End What Clients say Card */

    /* Selling Car Button */
    .selling-cars{
        width: 50%;
        padding: 0.2rem 2rem;
        margin: 1rem 0;
        background: #fefeff;
        box-shadow: 0.1rem 0.1rem 0.5rem #000;
        border-radius: 20px;
        transition: all 0.5s;
    }

    .selling-cars:hover{
        box-shadow: inset 0.1rem 0.1rem 0.5rem #010101;
        box-shadow: -0.1rem -0.1rem 0.5rem #010101;
    }

    .selling-cars a{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        color: #000;
    }

    .selling-cars a:active{
        box-shadow: inset 0.1rem 0.1rem 0.5rem #010101;
    }

/* End About Us Section */

/* Contact Us Section */
    .contact-section{
        width: 100%;
        height: 50vh;
        background: #00C1AE;
    }

    .contact-section .contact{
        width: 70%;
        min-height: 50%;
        padding: 1rem 2rem;
        margin: 2rem 0;
        border-radius: 20px;
        background: #fff;
    }

    .contact-section .contact .chead{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .contact-section .contact .chead .buttons a{
        width: 11rem;
        display: inline-block;
        padding: 1rem;
        margin: 0.2rem;
        color: #fff;
        background: #000;
        text-align: center;
        border: none;
        border-radius: 15px;
        transition: all 0.5s;
    }

    .contact-section .contact .chead .buttons a:hover{
        background: none;
        color: #000;
        outline: 0.1rem solid #000;
    }

    .contact-section .contact .chead .buttons a:last-child{
        background: none;
        color: #000;
        outline: 0.1rem solid #000;
    }

    .contact-section .contact .chead .buttons a:last-child:hover{
        background: #000;
        color: #fff;
        border: none;
    }

    .contact-section .contact table{
        width: 100%;
    }

    .contact-section .contact table th, tr, td{
        text-align: left;
    }

    th{color: #888}

    td{text-decoration: underline;}

    .contact-section .countries .count-logo {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
        border: 0.15rem solid #fff;
    }
    
/* End Contact Us Section */

/* Responsive Designs for Max Width of 1300px */
    @media (max-width: 1300px) {
        nav{width: 100%;}


        /* How it Works Section */
            .howit-works{
                height: 75vh
            }

            .howit-works .howit-main{
                width: 100%;
            }

            .howit-works .dealer-card{
                height: 15rem;
            }

            .howit-works .dealer-card .dealer-txt p{
                font-size: 12px;
            }
        /* End How it Works Section */

        /* What Clients say Card */
            .whatclient-say{width: 95%;}
            .whatclient-say .client-card{
                width: 30rem;
                height: 26rem;
            }
        /* End What Clients say Card */
    }

/* End Responsive Designs for Max Width of 1300px */




/* Responsive Designs for Max width of 1000px */
@media (max-width: 1000px) {
    body{
        font-size: 62.5%;
    }

    .more-btn{
        margin-bottom: 4rem;
    }

    nav{
        width: 100%;
    }

    nav ul li a{font-size: 12px;}

    /* Head Section */

        .head-container{
            display: flex;
            width: 100%;
        }

        .head-img-1{
            position: relative;
            left: -4rem;
            top: 5rem;
        }

        .head-img-2{
            position: relative;
            top: -5rem;
            right: -2rem;
        }

        .head-container .info{
            position: relative;
            top: 0;
            left: 40%;
            top: 50%;
            transform: translateX(40%) translateY(50%);
        }

    /* End Head Section */


    /* Why Us Section */

        .whyus-notes{
            flex-direction: column;
            justify-content: center;
            margin-bottom: 0.2rem solid #e7f7f5;
        }

        .notes{
            width: 75%;
            height: 7rem;
            display: flex;
            padding: 0;
            margin: 10px 0;
        }

        .notes .note-emoji{
            width: 10%;
            height: 50%;
        }

        .notes .text{margin: 0 10px; width: 90%;}

        .notes .note-head{margin: 0;}

        .notes .note-head{font-size: 16px;}
    /* End Why Us Section */

    /* Select City Stylel */

        .select-city{width: 80%;}
        .select-city .city-btn{
            font-size: 10px;
        }
    /* End Select City Style */


    /* Car Grid */
        .car-grid .car-card{
            width: 100%;
            height: 22rem;
            font-size: 15px;
            border-radius: 7px;
            overflow: hidden;
            border: 0.1rem solid lightblue;
    }
    /* End Car Grid */


    /* How it works section */
        .howit-works{width: 100%; height: 1200px;}

        .howit-works .dealer-card{
            top: -7rem;
            width: 60%;
            height: 17%;
            padding: 1rem;
            font-size-adjust: 60%;
        }

        .howit-works .dealer-card .dealer-txt h5{font-size: 14px;}

        .howit-works .dealer-card .dealer-txt p{font-size: 12px;}

        .howit-works .dealer-card .dealer-img{
            width: 50%;
            height: 100%;
            object-fit: cover;
        }

        .howit-works .howit-main{
            height: 75%;
            top: 5rem; 
        }

        .howit-works .howit-main h2{
            font-size: 25px;
        }

        .howit-works .howit-main .howit-card{
            width: 100%;
            height: 100%;
            flex-direction: column;
            margin-bottom: 5rem;
        }

        .howit-works .howit-main .howit-card .card{
            width: 40rem;
            height: 16rem;
            padding: 0;
            flex-direction: row;
            align-self: flex-end;
        }

        .howit-works .howit-card .card:nth-child(1){
            width: 50rem;
        }

        .howit-works .howit-card .card:nth-child(2){
            align-self: flex-start;
            flex-direction:  row-reverse;
        }

        .howit-works .howit-main .howit-card .card .c-txt{
            position: relative;
            left: 1.5rem;
        }

        .howit-works .howit-card .card:nth-child(2) .c-txt{
            left: -1.5rem;
        }

        .howit-works .howit-main .howit-card .card .c-txt h6{
            font-size: 14px;
        }

        .howit-works .howit-main .howit-card .card .c-txt p{
            font-size: 10px;
        }

        .howit-works .card img{
            height: 100%;
            width: 70%;
        }
    /* Ehd How it works section */

    /* whatclients say */

        .whatclient-say{width: 100%;}
        .whatclient-say .client-card{
            width: 16rem;
            height: 27rem;
        }
        /* .whatclient-say .client-card .profile{flex-direction: column;} */

        .whatclient-say .client-card .profile .prof-txt p:first-child{
            font-size: 10px;
        }

        .whatclient-say .client-card .client-txt p{
            font-size: 12px;
            line-height: 1.2;
        }

        .selling-cars a{
            font-size: 14px;
        }
    /* End whatclients say */

    /* Contact Us Section */
        .contact-section{
            font-size: 13px;
            line-height: 1.3;
        }
    /* End Contact Us Section */
}


/* Max Width of 400px */
    @media (max-width: 400px) {

        .more-btn{
            width: 90%;
        }

       /* Nav Styles */
            nav{
                width: 100%;
                height: 7rem;
                padding: 0;
                flex-direction: column;
            }

            nav ul{width: 100%; position: sticky;}

            nav ul li{
                padding: 10px 0;
            }

            nav ul li a{
                padding: 10px 0;
                font-size: 20px;
            }
       /* End Nav Styles */

       /* Home Section */
            .head-section{
                height: 45rem;
            }
            .head-img-1{
                width: 15rem;
                height: 10rem;
                left: 5rem;
                top: 5rem;
                z-index: 1;
            }

            .head-img-2{
                width: 20rem;
                height: 13rem;
                top: -6rem;
                right: 5rem;
                object-fit: cover;
                z-index: 0;
            }

            .head-container .info{
                width: 90vw;
                top: 50%;
                left: 20%;
                transform: translateX(25%) translateY(70%);
                margin: auto;
                text-align: center;
            }

            .head-container .head-txt{font-size: 30px;}

            .head-container .head-p{font-size: 15px;}

            .head-container .info .head-btn{
                font-size: 18px;
                width: 100%;
            }
       /* End Home Section */

       /* Why Us Section */
            .whyus-section{
                margin-bottom: 5rem;
            }

            .whyus-notes{
                width: 100%;
                margin-top: 1rem;
            }
            .whyus-notes .notes{
                width: 100%;
                height: 9rem;
                margin: 5px 0;
                align-items: center;
            }

            .whyus-notes .notes .text{
                width: 80%;
            }

            .whyus-notes .notes .text .note-p, .notes .text .note-head{font-size: 18px;}
            .whyus-notes .notes .note-emoji{width: 15%; height: 30%;}
       /* End Why Us Section */

       /* Select city */
            .select-city{width: 100%; padding: 0; flex-wrap: wrap; justify-content: center; margin: 3rem 0;}

            .select-city p{font-size: 20px;}

            .select-city .city-btn{margin: 5px; display: block; font-size: 18px;}
       /* End Select city */

       /* Car Logo Section */
            .logo-grid{
                width: 90%;
                margin: auto;
                grid-template-rows: 45px 100px 100px;
                margin-bottom: 1rem;
            }

            .logo-grid .lAmount{
                border-radius: 10px;
            }

            .logo-grid .lg img{
                width: 50px;
            }
       /* End Car Logo Section */

        /* Car Grid */
            .car-grid{
                border-radius: 1.5rem 1.5rem 0 0; 
                padding-bottom:10rem;
            }

            .car-grid .car-card{
                width: 270px;
                margin: 10px auto;
            }

            .car-grid .car-card .car-img{height: 50%;}

            .car-grid .car-card .car-loc{width: 100%; font-size: 12px;}

            .car-grid .car-card .how-used{
                font-size: 12px; 
                flex-direction: column;
                width: 50%;
            }

            .car-grid .car-card .how-used p{margin: 5px; margin-left: 10px;}

        /* End Car Grid */

        /* How it Works Section */
            .howit-works{height: 108vh; justify-content: space-evenly; padding-bottom: 1.5rem;}
            .howit-works .dealer-card{
                width: 90%;
                top: -12rem;
                height: 23rem;
                flex-direction: column-reverse;
            }

            .howit-works .dealer-card .dealer-txt, .howit-works .dealer-card .dealer-img{
                width: 100%;
            }

            .howit-works .howit-main{
                top: 7rem;
                margin-bottom: 1rem;
            }

            .howit-works .howit-main .howit-card{
                width: 100%;
                margin: 10px;
            }

            .howit-works .howit-main .howit-card .card{
                width: 19rem;
                flex-direction: column-reverse;
                align-items: center;
                align-self: center;
                margin: 20px;
            }


            .howit-card .card img{
                width: 100%;
            }

            .howit-card .card .c-txt{
                position: absolute;
                width: 100%;
                top: -2rem;
                left: 0rem;
                right: 2rem;
                align-self: center;
            }

            .howit-card .card .c-txt:nth-child(2){
                align-self: flex-start;

            }            
        /* End How it Works Section */
        
        /* About Us Section */

            .aboutus-heads{width: 100%; height: auto; margin: 2rem 0; overflow: hidden;}
            .aboutus-heads h2{font-size: 20px;}
            .aboutus-heads .flow-head{
                flex-direction: column; 
                justify-content: center;
            }
            .aboutus-heads .flow-head .small-p{
                width: 100%;
                height: 5rem;
                border-bottom: 0.1rem solid #b1a7a783;
            }

            .aboutus-heads .flow-head .small-p p:first-child{font-size: 25px;}

            /* What Clients Say */
                .whatclient-say{
                    width: 100%;
                    padding: 1.5rem 0;
                    overflow: auto;
                }
            /* End What Clients Say */

            .selling-cars{width: 100%;}
        /* End About Us Section */

        /* Contact Us Section */
        .contact-section .contact{width: 90%;}

        .contact-section .contact .chead{
            flex-direction: column;
            justify-content: space-between;
            margin: 0 auto 2rem auto;
        }

        .contact .chead .buttons{width: 12rem;}

        .contact .chead .buttons a{font-size: 18px;}
        /* End Contact Us Section */
    }
/* End Max Width of 400px */

/* Max Width 300px */
@media (max-width: 300px) {
    /* Head Section */
        .head-section{height: 40rem;}
        .head-container .info{
            transform: translateX(40%) translateY(40%);
        }
        .head-container .head-txt{font-size: 25px;}
        .head-container .info .head-btn{font-size: 12.5px;}
    /* End Head Section */

    /* Why Us Section */
        .whyus-section{
            margin: 0 auto;
        }

        .whyus-notes{
            height: 50rem;
            margin-bottom: 3rem;
        }

        .whyus-contianer{
            height: 60rem;
        }
        .whyus-notes .notes{
            height: 15rem;
        }

        .select-city{margin-top: 20rem;}
    /* End Why Us Section */


    /* Car Logo Section */
        .logo-grid{
            grid-template-columns: 50px 50px 50px;
            grid-template-rows: 50px 120px 120px;
        }
    /* End Car Logo Section */

    /* Car Grid */
        .car-grid{
            padding: 1rem 2rem 5rem 2rem;
        }
        .car-grid .container{margin-top: 0; margin-bottom: 2rem;}

        .car-grid .car-card{
                width: 100%;
                margin: auto;
        }
    /* End Car Grid */

    /* How it Works Section */
        .howit-works .dealer-card{height: 22rem;}
        .howit-works .howit-main .howit-card .card{
            width: 14rem;
        }
    /* End How it Works Section */


}
/* End Max Width 300px */

