/* Imported Font */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* End Imported Font */


/* General Styles */
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
        border: none;
        outline: none;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
    }

    .center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .more-btn{
        width: 25%;
        margin: 1rem auto;
        border-radius: 10px;
        padding: 1rem 4rem;
        background: #010101;
    }

    .more-btn a{
        font-weight: 600;
        color: #fff;
        width: 100%;
    }
/* End General Style */

/* Navbar Styles */
    nav{
        width: 90%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 6%;
    }

    nav .logo{
        width: 135px;
        padding: 10px 0;
    }

    nav ul{
        width: 80%;
        padding: 0 20px;
    }

    nav ul li{
        width: 45%;
        display: inline-block;
        margin: 0 2px;
        text-align: center;
        padding: 20px 0;

    }

    nav ul li a{
        color: #000;
        font-size: 15px;
        font-weight: 500;
        padding: 1.3rem 6rem;
        text-decoration: none;
    }

    nav ul li.active{
        border-bottom: 0.15em solid #000;
    }
/* End Navbar Styles */

/* Hero Section / Head Section */

    .head-section{
        height: 60vh;
        width: 100%;
        background: #00C1AE;
    }

    .head-section .head-container{
        width: 100%;
        height: 100%;
        margin: auto;;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .head-container .head-left{
        margin-top: 3rem;
        margin-right: -0.5rem;
        z-index: 1;
    }

    .head-container .head-right{
        margin-top: -3rem;
        padding: 0;
    }

    .head-img-1{
        width: 25rem;
        height: 15rem;
        box-shadow: 0.2rem 0.2rem 1rem #000;
        border-radius: 13px;
        margin-bottom: 10px;
    }

    .head-img-2{
        width: 30.8rem;
        box-shadow: 0.2rem 0.2rem 1rem #000;
        border-radius: 13px;
        z-index: 1;
    }

    .head-left .head-txt{
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 0.1px;
        margin-bottom: 10px;
    }

    .head-left .head-p{
        font-size: 12px;
        margin-bottom: 10px;
    }

    .head-left .head-btn{
        padding: 1.2rem 4rem;
        margin: 10px 0;
        background: #000;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        border-radius: 10px;
    }
/* End Hero Section / Head Section */

/* Why us section */

    .whyus-section{
        width: 100%;
        padding: 5%;
        min-height: 50vh;
        background: #fff;
    }

    .whyus-contianer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .whyus-header{
        text-align: center;
        font-size: 28px;
        font-weight: 600;
    }

    /* Notes Style Section */
        .whyus-notes{
            width: 87%;
            padding: 3%;
            margin: auto;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .notes{
            width: 18rem;
            height: 18rem;
            margin: 0 10px;
            padding: 10px;
        }

        .notes .note-emoji{
            font-size: 20px;
            padding: 10px;
        }

        .notes .note-head{
            font-size: 19px;
            font-weight: 600;
            margin: 10px 0;
        }

        .notes .note-p{
            font-size: 14px;
            font-weight: 400;
        }
    /* End Notes Style Section */
    
    /* Car Selection */

        .select-city{
            width: 65%;
            margin: auto;
            padding: 1rem;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            transition: all 0.8s;
        }


        .select-city .city-btn a{
            font-size: 16px;
            color: #000;
            padding: 10px 20px;
            outline: 0.1rem solid #010101;
            border-radius: 10px;
        }

        .select-city .city-btn:hover{
            margin: 0 15px;
            scale: 1.2;
            cursor: pointer;
        }

        .select-city .city-btn .active{
            background: #010101;
            color: #fff;
            outline: none;
        }
    /* End Car Selection */

    /* Car Logo Section */
        .logo-grid{
            width: 60%;
            margin: 20px auto;
            display: grid;
            grid-template-columns: repeat(4,  1fr);
            grid-template-rows:  65px 150px 150px;
            grid-template-areas: 
            "   text1   text2   text3   text4"
            "   toy   lex   hond   benz"
            "   niss   ford   lrov   acura"
            ;
            justify-items: center;
            align-items: center;
            gap: 0.5rem;

        }

        .logo-grid .lg{
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .logo-grid .lAmount{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            background: #EBF2F7;
            border-radius: 20px;
            margin: auto auto;
        }

        .logo-grid .lAmount, .logo-grid .lg a{
            font-size: 15px;
            font-weight: 400;
            color: #000;
        }
    /* End Car Logo Section */

    /* Car Grid */
    .car-grid{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 10rem;
        background: #EBF2F7;
        border-radius: 5rem 5rem 0 0;
    }

    .car-grid .input{
        width: 60%;
        margin: .5rem auto;
        padding: 15px 4rem 15px 15px;
        border-radius: 10px;
        border: .2rem solid lightblue;
    }

    .car-grid .container{
        width: 100%;
        margin: 2rem auto;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 292px);
        align-items: center;
        justify-content: center;
    }

    .car-grid .car-card{
        width: 100%;
        height: 24.5rem;
        border-radius: 7px;
        overflow: hidden;
        border: 0.1rem solid lightblue;
    }

    .car-grid .car-card .car-img{
        width: 100%;
        height: 55%;
    }

    .car-grid .car-card p{
        padding: 10px 10px 5px 10px;
        color: #333;
    }

    .car-grid .car-card .car-price{
        color: #00C1AE;
        text-shadow: -.5px -.5px #00C1AE;
        font-weight: 700;
    }

    .car-grid .car-card .car-loc{
        font-size: 12px;
        padding-left: 1.5rem;
    }

    .car-grid .car-card .how-used{
        display: flex;
    }

    .car-grid .car-card .how-used p{
        background: #EBF2F7;
    }

    
    /* End Car Grid */
/* End Why us section */

/* How it Works section */
    .howit-works{
        width: 100%;
        height: 60vh;
        justify-content: space-around;
        background: #00C1AE;
        position: relative;
    }

    /* Dealer Card Style */
        .howit-works .dealer-card{
            position: absolute;
            top: -9rem;
            width: 60%;
            height: 40%;
            flex-direction: row;
            justify-content: space-around;
            background: #ffffff;
            padding: 10px 2rem;
            border-radius: 30px;
        }

        .howit-works .dealer-card .dealer-txt{
            width: 45%;
            height: 100%;
            justify-content: center;
            text-align: center;
        }

        .howit-works .dealer-card .dealer-txt h5{
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        .howit-works .dealer-card .dealer-txt p{
            font-size: 16px;
            text-align: justify;
            margin-bottom: 10px;
        }

        .howit-works .dealer-card .dealer-txt a{
            width: 100%;
            padding: 1rem;
            color: #000;
            border: .1rem solid #333;
            border-radius: 10px;
            margin: .5rem 0;
        }

        .howit-works .dealer-card .dealer-img{
            width: 50%;
            height: 14rem;
            object-fit: cover;
        }
    /* End Dealer Card Style */

    /* How it Card */
        .howit-works .howit-main h2{
            text-align: center;
        }

        .howit-works .howit-card{
            width: 100%;
            height: 100%;
            flex-direction: row; 
            justify-content: space-between;
            margin-top: 1rem;
        }

        .howit-works .howit-card .card{
            width: 25rem;
            height: 20rem;
            justify-content: space-between;
            margin: 2rem;
        }

        .howit-works .howit-card .card:nth-child(2){
            flex-direction: column-reverse;
        }

        .howit-card .card .c-txt{
            width: 85%;
            height: 35%;
            padding: 20px;
            background: #CCF3EF;
            border-radius: 10px;
            box-shadow: 0.1rem 0.1rem 0.5rem #000;
        }

        .howit-card .card .c-txt h6{
            font-size: 17px;
        }

        .howit-card .card .c-txt p{
            font-size: 14px;
        }

        .howit-card .card img{
            width: 100%;
            height: 60%;
            object-fit: cover;
            border-radius: 10px;
        }
    /* End How it Card */
/* End How it Works section */

/* About Us Section */
    .aboutus{
        width: 100%;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        padding: 1rem 11%;
        background: brown;
    }

    /* About us Heads */
        .aboutus-heads{
            width: 80%;
            height: 15rem;
            justify-content: space-around;
            margin: 3rem 0;
        }

        .aboutus-heads h2{
            font-size: 28px;
            letter-spacing: 2px;
            font-weight: 600;
        }

        .aboutus-heads .flow-head{
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            text-align: center;
        }
        .aboutus-heads .flow-head .small-p{
            width: 12rem;
            height: 7rem;
        }

        .aboutus-heads .flow-head .small-p p:first-child{
            font-size: 30px;
            font-weight: 600;
            color: #00C1AE;
        }

        .aboutus-heads .flow-head .small-p p:last-child{
            font-size: 13px;
        }
    /* End About us Heads */

    /* What Clients say Card */
        .whatclient-say{
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            background: blue;
        }

        .whatclient-say .client-card{
            width: 25rem;
            height: 20rem;
            background: #333;
        }
    /* End What Clients say Card */

/* End About Us Section */


